@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  text-decoration: none;
}
::-webkit-scrollbar {
  display: none; /* Cache la scrollbar */
}
/* root */

:root {
  --primary-color: #b721ff;
  --secondary-color: #21d4fd;
  /* text color */
  --text-light: #eee;
  --text-blue: #3949ab;
  --text-dark: #061039;
  /* background */
  --background-color: #f7f7f7;
  --linear-1: linear-gradient(
    to bottom right,
    #061039 0%,
    #194db6 38%,
    #6424e3 50%,
    #13d8ec 99%
  );
  --linear-2: linear-gradient(
    to bottom right,
    #78e4ef 0%,
    #a3b4d5 38%,
    #bfb3e6 50%,
    #f062f2 99%
  );
  --linear-3: linear-gradient(to bottom right, #b721ff 0%, #13d8ec 100%);
}
html {
  width: 100%;
  height: 100vh;

  background: var(--lightBg);

  --lightBtn: #000;
  --lightBg: #fff;
  --lightColor: #232323;
}
/* ------------------------------------------- */
.container {
  /* background: transparent; */
  /* display: flex; */
  height: 100vh;
  /* ---------------------- */
  main {
    /* background: #000; */

    /* height: 90vh; */
    width: 100%;
    .head,
    .nav-Right {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .label {
      margin: 0px 20px;
    }

    h1 {
      margin: 20px 30px;
      color: var(--lightColor);
    }
    .user-Zone {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      margin-right: 20px;
      /* ---------------------- */
      .user-complete-name {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        color: var(--lightColor);
        transition: all 0s !important;
        font-size: 12px;
      }
      #userProfil {
        object-fit: cover;
        width: 50px;
        height: 50px;
        border: 1px solid;
        border-radius: 50%;
        margin-right: 5px;
      }
      .profil {
        position: relative;
      }
      .Dot {
        display: block;
        background: #b721ff;
        padding: 6px 6px;
        width: 10px;
        border-radius: 50%;
        border: 4px solid var(--lightBg);
        position: absolute;
        bottom: 0px;
        right: 0;
      }
    }
    section {
      /* margin-top: 40px; */
      padding: 40px 20px 70px 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      max-height: 85vh; /* Hauteur maximale avant le scroll */
      overflow-y: auto; /* Active le scroll vertical */
      .card {
        color: #fff;
        padding: 3rem 6rem;
        font-size: 2rem;
        flex-grow: 1;
        text-align: center;
        border-radius: 10px;
        /* position: relative; */
        div {
          /* background: #000; */
          padding: 24px 7px;
          border-radius: 0px 0px 10px 10px;
          /* display: flex; */
          justify-content: space-between;
          align-items: center;
          /* position: relative; */
          .icon {
            display: flex;
            margin: auto;
          }
          div {
            /* position: absolute; */
            bottom: 40px;
            height: 57px;
            width: 50px;
            background: transparent;
          }
        }
        .cardTitle {
          font-size: 20px;
          font-weight: 900;
        }
        p {
          font-size: 16px;
        }
        /* img {
          height: 80%;
          width: 100%;
          object-fit: cover;
          border-radius: 10px 10px 0px 0px;
        } */
        .add {
          position: relative;
          top: 6px;
          right: 15px;
          font-size: 7px;
          background: #fff;
          color: #000;
          padding: 5px;
          border-radius: 2px;
        }
      }
      .card1 {
        background: var(--linear-1) !important;
      }
      .card2 {
        background: var(--linear-2) !important;
      }
      .card3 {
        background: var(--linear-3) !important;
      }
    }
  }
  /* ----------main content css end------------ */
}
#logoutBtn {
  /* position: absolute; */
  /* bottom: 5px; */
  /* z-index: 1; */
  /* right: 0; */
  cursor: pointer;
  /* margin: 10px; */
  display: flex;
  align-items: center;
  justify-content: end;
  /* flex-wrap: wrap; */
  gap: 10px;
  color: #fff;
}

/*--------------- themes changes start --------------- */
html[data-theme="dark"] {
  background: #061039;

  --lightBtn: #555;
  --lightBg: #232323;
  --lightColor: #fff;
}
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--background-color);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}
.label:after {
  content: "";
  background: var(--lightBtn);
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}
input:checked + .label {
  background: var(--background-color);
}
input:checked + .label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms !important;
  transition-delay: 0 !important;
}
/*--------------- themes changes end --------------- */
/*------------------ copyrights ------------------*/
.copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: var(--lightBtn); */
  color: #fff;
  /* padding: 15px; */
  /* text-align: center; */
  font-size: 12px;
}

/* Profil  */
.profil input {
  display: none;
}

.profil .dot {
  display: flex;
  justify-content: center;
  background: #b721ff;
  color: white;
  font-size: 12px;
  /* padding: 6px 6px; */
  width: 15px;
  border-radius: 50%;
  /* border: 4px solid var(--lightBg); */
  position: absolute;
  bottom: 0.5rem;
  right: 0;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #000;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  .theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*------------------ copyrights end------------------*/
@media screen and (max-width: 511px) {
  #logoutBtn {
    p {
      display: none;
    }
  }
  section {
    /* padding: 0; */
  }
}
@media screen and (max-width: 380px) {
  section {
    /* height: 75vh; */
  }
  /* .theme {
    position: absolute;
    bottom: 5px;
    z-index: 1;
    left: 1px;
  } */
  /* .user-Zone {
    margin: 0;
  } */
  .copyrights {
    font-size: 10px;
  }
  .card {
    /* flex-grow: 0; */
  }
}
